:global(.ui.modal) {
    >:global(.header):local(.header) {
        display: flex;
        justify-content: space-between;
    }
}

:local(.btnSave) {
    margin-bottom: 1.25rem !important;
}

.usersModal {
    padding: 1.25rem;
}

.usersModalItem {
    margin-bottom: 1rem;
}