:global(.ui.basic.label):local(.toolbarBtn) {
    border: none
}

.creatorActionWrapper {
    display: inline-block;
}

:global(.ui.basic.label):local(.toolbarBtnReaction) {
    border: none;
    padding: 0;
    margin-left: -3px;
}