:global(.ui.modal) {
    >:global(.header):local(.header) {
        display: flex;
        justify-content: space-between;
    }
}

:local(.imageWrapper) {
    margin-bottom: 10px
}

:global(.ui.image):local(.image) {
    width: auto;
    max-width: 150px;
    max-height: 150px;
}
