:local(.headerWrp) {
    background-color: white;
    padding: 1em 0;
}

:global(.ui.icon.button):local(.logoutBtn) {
    border: none;
    box-shadow: none;
}

.username {
    margin-bottom: 0.5rem!important;
}

.status {
    font-size: 1rem;
}

.userInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}